/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* ----------------css from insure cow template for header, footer---------------*/

/*----------css from insure cow template end--------------------*/

/*----------------my css for sign in ---------------------*/
.form-bottom-links {
  padding-right: 90px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  width: 100%;

  color: #082e13;
}

.welcome-text-padding {
  padding-bottom: 44px;
  padding-top: 21px;
}

.password-label-padding {
  padding-top: 42px;
}

@media screen and (max-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */

  .form-bottom-links {
    font-size: 16px;
    line-height: 24px;
  }
}

/*----------------my css for sign in end ---------------------*/

/*---------------- css from lamia ----- ---------------------*/

/* ----------------row------------------------------ */
.row {
  flex-wrap: wrap-reverse;
  padding: 10px;

  font-family: Poppins;
  font-style: normal;
  font-size: 18px;

  color: #2f673f;
}
/* ------------------colum----------*/
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 2;
  max-width: 50%;
  padding: 10px;
}

/* -------------------------------registration 1st page left side---------------------- */
.left {
  background: rgba(239, 255, 240, 0.5);
  border-radius: 15px;
}

/* -------------------------------registration 1st page right side---------------------- */

.right {
  padding: 10px;
  background: #fdfcfc;
  box-shadow: 0px 4px 18px rgb(79 172 35 / 67%);
  border-radius: 15px;
}

/* --------------------------------- registration 1st page form -----------------------------------*/
.h1,
h1 {
  font-size: 26px;
}

.h4,
h4 {
  font-size: 20px;
}

.form {
  padding-left: 30px;
  padding-top: 22px;
  padding-right: 29px;
  padding-bottom: 52px;
}

.reg {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;

  color: #082e13;
}

.create {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;

  color: #082e13;
}

.icone {
  height: 100%;
  width: 100%;
  outline: none;
  border: 0px solid lightgrey;
  border-radius: 5px;
  padding-left: 45px;
  font-size: 17px;
  transition: all 0.3s ease;
}

.user {
  padding: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  color: #2f673f;
}

.email {
  padding: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  color: #2f673f;
}

.cre-pass {
  padding: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  color: #2f673f;
}

.con-pass {
  padding: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 25px;
  color: #2f673f;
}
/* ------------------checkbox registration 1st page---------------------- */
.check {
  padding-top: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  display: block ruby;
  color: #2f673f;
}
/* ----------------------button---------------------------------- */
.btn {
  background: #23bb86;
  border-radius: 25px !important;
  font-family: Poppins;
  color: #ffffff;
  width: 200px;
}

/* ------------------------Right side registration 2nd page-------------------- */

.right-reg {
  padding: 10px;
  background: #fdfcfc;
  box-shadow: 0px 4px 18px rgb(79 172 35 / 67%);
  border-radius: 15px;
  height: 652px;
}

/*---------------------------horizontal logo 1st page----------------------------------------*/
.horizontal-logo {
  margin-top: 34px;
  text-align: center;
  display: flex;
  align-items: center;
}
.horizontal-logo .before {
  display: flex;
  width: 42%;
  height: 2px;
  background: rgba(47, 103, 63, 1);
}

.horizontal-logo .after {
  display: flex;
  width: 42%;
  height: 2px;
  background: rgba(47, 103, 63, 1);
}

.logo-text {
  position: relative;
  align-items: center;
  display: flex;
  text-align: center;
  width: 308px;
  height: 36px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin-left: 20px;
}

.logo-text::after {
  content: "";
  width: 10px;
  height: 10px;
  margin: 11px 13px;
  border-radius: 25px;
  background-color: rgba(47, 103, 63, 1);
}

.logo-text::before {
  content: "";
  width: 10px;
  height: 10px;
  margin: 0px 12px 0px 1px;
  border-radius: 25px;
  background-color: rgba(47, 103, 63, 1);
}

/*---------------------- horizontal logo 2nd page ------------------------*/
.horizontal-logo2 {
  margin-top: 204px;
  text-align: center;
  display: flex;
  align-items: center;
}
.horizontal-logo2 .before {
  display: flex;
  width: 42%;
  height: 2px;
  background: rgba(47, 103, 63, 1);
}

.horizontal-logo2 .after {
  display: flex;
  width: 42%;
  height: 2px;
  background: rgba(47, 103, 63, 1);
}

.logo2-text {
  position: relative;
  align-items: center;
  display: flex;
  text-align: center;
  width: 308px;
  height: 36px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  margin-left: 20px;
}

.logo2-text::after {
  content: "";
  width: 10px;
  height: 10px;
  margin: 11px 13px;
  border-radius: 25px;
  background-color: rgba(47, 103, 63, 1);
}

.logo2-text::before {
  content: "";
  width: 10px;
  height: 10px;
  margin: 0px 12px 0px 1px;
  border-radius: 25px;
  background-color: rgba(47, 103, 63, 1);
}

/* Assign full width inputs*/
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 16px 40px;
  margin: 4px 0;
  margin-left: 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: -46px;
}
/* Set a style for the buttons*/
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  /* width: 100%; */
}

/* Set a hover effect for the button*/
button:hover {
  opacity: 0.8;
}

button,
btn {
  text-transform: none;
  margin-top: 47px;
  margin-bottom: 172px;
}

.fa,
.fas {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  position: absolute;
  padding: 9px;
  margin-top: 14px;
  margin-left: -38px;
}

/*---------------------------------------------- Css for agent dashboard -----------------------------------------*/
.hi {
  display: block;
}

/* --------------------------------------------- media screen for tab ( portrait ) ------------------------------------------- */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
}

/* ------------------------------------------------------------------------------------ end - media screen for tab ( portrait )  */

/* ------------------------------------------ media screen for tab (landscape) ------------------------------------------------- */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* For landscape layouts only */
}

/* -------------------------------------------------------------------------------------- end - media screen for tab (landscape) */

/* --------------------------------------------- media screen for tab (pro) portrait ------------------------------------------- */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* ---------------------------------------------------------------------------------- end - media screen for tab (pro) portrait */

/* ---------------------------------------------- media screen for tab ( pro ) landscape --------------------------------------- */

@media only screen and (min-device-width: 1366px) and (min-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ------------------------------------------------------------------------------- end - media screen for tab ( pro ) landscape  */

/* ------------------------------------------------------- media screen for mobile devices ------------------------------------- */
@media only screen and (max-width: 600px) {
  input[type="text"]::placeholder,
  input[type="password"]::placeholder {
    font-size: 13px;
  }

  .icone {
    height: 100%;
    width: 300px;
    outline: none;
    border: 0px solid lightgrey;
    border-radius: 5px;
    padding-left: 45px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
}

/* --------------------------------------------------------------------------------------  end - media screen for mobile devices */

/* ---------------------------------------- media screen for 1366 x 768 desktop screens ---------------------------------------- */

@media only screen and (device-width: 1366px) and (device-height: 768px) {
  .icone {
    height: 100%;
    width: 100%;
    outline: none;
    border: 0px solid lightgrey;
    border-radius: 5px;
    padding-left: 45px;
    font-size: 17px;
    transition: all 0.3s ease;
  }
}

/* ---------------------media screee for ragestration page left side image --------------------------------------*/
@media screen and (max-width: 800px) {
  .left {
    display: none;
  }
}
/* --------------------------------------------------------------------------- end - media screen for 1366 x 768 desktop screens */

/*---------------- css from lamia ----- ---------------------*/
