{% extends "base.html" %}

{% block content %}
{% load static %}
{% load widget_tweaks %}




      <!-- -------------------------- first section start  ----------------------------- -->
      <section id="first-section">
        <div class="body">
                  <div class="row">
  
                    
<!-------------------------------- left image ----------------------------------------------------->
                      <div class="col-md-6">
                      <div class="left">
                      <img src='{% static "cow_pic/cow.png" %}' class="img-fluid" alt="" style="padding-bottom: 138px; padding-top: 108px; padding-right: 3px;padding-left: 2px;" srcset="">
                      </div>
                      </div>
 <!--------------------------------Right col ----------------------------------------------------->     
                      <div class="col-md-6 col-sm-12">
                          <div class="right">
  <!-------------------------------- form ----------------------------------------------------->
                              <form class="form" method="POST" action="" autocomplete="on">
                                {% csrf_token %}  
                              <!--------- registration h1 tag ---------------->      
                                  <div class="reg">
                                  <h1 class="font-weight-bold">Sign In</h1>
                                  </div>
                              <!----------- form create text------------->
                                  <div class="create welcome-text-padding">
                                      <h4>Welcome to Insure Cow!</h4>
                                  </div>
                              <!------------ User --------------------->
                              <div class="user">
                                    {{form.username.label}}<br>
                                <div class="icone">
                                  <i class="fa fa-user" aria-hidden="true"></i>
                                  {{form.username|add_class:"form-control" }}<br>
                                </div>
                              </div>
                              <!-------------- password ---------------------->                    
                              <div class="create-pass password-label-padding">
                                {{form.password.label}}<br>
                                <div class="icone">
                                  <i class="fa fa-unlock" aria-hidden="true"></i>
                                  {{form.password|add_class:"form-control" }}<br>
                                </div>
                              </div>
                               <!---------- button--------------->
                                <div >
                                  <button class="btn rounded-pill">Log in</button>
                                </div>

                <!--------------------- forgot row start--------------->
                                <div class="row">
                                    <div class="col-9">
                                        <a class="form-bottom-links" href=#>Forgot Passowrd?</a>
                                    </div>
                                    <div class="col-3">
                                        <a class="form-bottom-links" href={% url 'user_name' %}>
                                            Register</a>
                                    </div>
                                </div>
                                <!---------- forgot row start--------------->

<!----------------------------- horizontal logo ------------------------------------------------->     
                                    <div class="horizontal-logo">
                                        <div class="before"></div>
                                            <div class="logo-text">Insure Cow</div>
                                                <div class="after"></div>
                                                    </div>
                                <!----------- horizontal logo end ---------------->
                                      

                    
                              </form>
<!-------------------------------- form end ----------------------------------------------------->

                          </div>
      
                      </div>
                  
                      </div>
                    
      </section>
      <!-- -------------------------- first section end ----------------------------- -->

{% endblock content %}